S3method(plot,alfred)
export(adjust_times)
export(load_usage)
export(punchcard)
importFrom(lubridate,hour)
importFrom(lubridate,hours)
importFrom(lubridate,seconds)
importFrom(lubridate,wday)
importFrom(lubridate,with_tz)
importFrom(lubridate,ymd_hms)
importFrom(plyr,ddply)
importFrom(plyr,summarise)
